<!DOCTYPE html>
<html lang="en">


<head>

<link rel="stylesheet" href="index.css">



</head>

<header>
    <div class="header">
        <p class="city">london</p>
        <p class="findweather">FIND WEATHER</p>
    </div>
</header>

<body>
  
    
    <div class="middlepart">
        <img src="./images/weather-icons/mostlycloudy.svg" alt="">
        <p class="overcast-clouds">overcast clouds</p>
        <p class="temperature"><b>Temperature</b>  10 to 11C</p>
        <p class="humidity-pressure"><b>Humidity </b>  <i>78% </i><b> Pressure</b>  <i>1008.48</i></p>
    
    </div>
    <section class="bottompart">
        <div class="time-temp">
            <p>03:00</p>
            <img src="./images/weather-icons/mostlycloudy.svg" alt="">
            <p>8C</p>
           
        </div>
        <div class="time-temp">
            <p>06:00</p>
            <img src="./images/weather-icons/mostlycloudy.svg" alt="">
            <p>9C</p>
            
            
        </div>
        <div class="time-temp">
            <p>09:00</p>
            <img src="./images/weather-icons/clear.svg" alt="">
            <p>14C</p>
            
        </div>
        <div class="time-temp">
            <p>12:00</p>
            <img src="./images/weather-icons/clear.svg" alt="">
            <p>17C</p>
            
        </div>
        <div class="time-temp">
            <p>15:00</p>
            <img src="./images/weather-icons/clear.svg" alt="">
            <p>18C</p>
            
        </div>
        <div class="time-temp">
            <p>18:00</p>
            <img src="./images/weather-icons/clear.svg" alt="">
            <p>16C</p>
            
        </div>
    
        <div class="time-temp">
            <p>21:00</p>
            <img src="./images/weather-icons/mostlycloudy.svg" alt="">
            <p>13c</p>
            
            
        </div>
            
    </section>
    
</body>









</html>