

.header{
    display: flex;
    flex-direction: row;
}

.findweather{
    margin-left: 150px;
    
    border: #5879C7;
    border-width: 20px;
    /* i was about to add a border around find weather */

}



.city{
    color: white;
    margin-left: 10px;
}
header{
   background-color: #759EDA;
}


.middlepart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middlepart .overcast-clouds{
    color: white;
    font-size: 20px;
}
body{
    background-color:#9CCEF4;
    font-family: "raleway", Arial, Helvetica, sans-serif !important;
}

.middlepart img{
    width: 250px;
    margin-top: 30px;

}

.middlepart .humidity-pressure{
    font-size: 13px;
}

.middlepart .temperature{
    font-size: 18px;

}

.time-temp{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.bottompart{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10rem;
    margin-left: 50px;
    margin-right: 50px;
    
    /* I was about to put the bottom part at the bottom  */
}

.bottompart img{
    width: 130px; 
}

